@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{
    --hue: 258;
    --theme: hsl(var(--hue), 65%, 56%);
    --text-color: rgb(34, 31, 31);
    --text-color-2: rgb(112, 109, 109);
    --text-color-hover:  hsl(var(--hue), 63%, 36%);
    --text-color-inverse: white;



    --background-color-modal: rgba(0, 0, 0, 0.4);
    --z-index-modal: 1000;

}


*::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
  }
  

*::-webkit-scrollbar-track {
background: rgba(0, 0, 0, 0.1);        /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
background-color: rgba(82, 82, 82, 0.526);    /* color of the scroll thumb */
border-radius: 10px;       /* roundness of the scroll thumb */
border: none;  /* creates padding around scroll thumb */
}

*::-webkit-scrollbar-thumb:hover{
  background-color: rgba(82, 82, 82, 0.875);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

html{
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    margin-right: 0;
    
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    /* padding-bottom: 100px;  */
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.main{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.nav{
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 13px;
    font-weight: 500;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    min-width: 100%;
    min-height: 50px;
    /* display: flex;
    justify-content: space-between; */
    /* transition: 1s; */
    background-color: var(--text-color-inverse);
    z-index: 10000;
    
}

/* .nav__hide{
    opacity: 0;
    visibility: hidden;
    transition: 0s;
} */

.name:hover,
.close__menu:hover,
.open__menu:hover{
    color: var(--text-color-hover);
    cursor: pointer;
}

.open__menu{
    font-size: 1.2rem;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.close__menu{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 1.4rem;
}


.menu{
    position: fixed;
    left: 0;
    right: 0;
    height: auto;
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 25px 25px 0 0;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.4);
    padding: 5px;
    transition: 0.5s;
    bottom: -100%;
    z-index: 1;
    font-size: 0.8rem;
    background-color: var(--text-color-inverse);
}

.menu__show{
    /* opacity: 10; */
    bottom: 0;
    transition: 0.5s;
    visibility: visible;
    padding-bottom: 30px;
}

.icon__text{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color)
}

.name:hover,
.main__name{
        cursor: pointer;
}
.icon{
    font-size: 1.5rem;
    color: var(--text-color)
}

.icon__text:hover,
.icon:hover,
a:hover{
    color: var(--text-color-hover);
    cursor: pointer;
}

.launch{
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.social__media{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* padding: 30px; */
}

.social__icon{
    font-size: 1.8rem;
    color: var(--theme);
}

.blob{
    width: 80%;
    max-width: 350px;
    height: auto;
    margin: 0s;
    padding-left: 3rem;
    padding-top: 2rem;
    fill: var(--theme);
}


.blob__img{
    width: 100%;
    height: auto;
}

.title__name{
    font-size: 2rem;
    font-weight: 600;
}

.description{
    color: var(--text-color-2);
    
}

.title{
    margin-top: 4rem;
    width: 100%;
}

.resume{
    margin-top: 15px;
    width: 130px;
    background-color: var(--theme);
    border-radius: 5px;
    border: none;
    padding: 15px;
    color: var(--text-color-inverse);
    font-size: 1.01rem;
    display: flex;
}

.resume__icon{
    padding-left: 5px;
    transition: 0.5s;
}
.res__arrow{
    color: var(--text-color-inverse);
}

.anim{
    padding-left: 15px;
    transition: 0.5s;
}


.resume:hover{
    cursor: pointer;
    background-color: var(--text-color-hover);
}

.resume__text{
    padding-left: 5px;
    color: var(--text-color-inverse);
}

.about{
    padding: 30px;
}

.about__title{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    padding-top: 30px;
}

.DSAI{
    display: flex;
    flex-wrap: wrap;
}

.DSAI__img{
    padding: 20px;
    width: 90%;
}

.what__i__do__title{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    padding-top: 30px;
    width: 100%;
}


.d{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 20px;
}

.skills__title{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 30px;
}

.skills{
    padding: 30px;
    font-size: 14px;
    width: 100%;
}

.fullBar{
    width: 300px;
    height: 20px;
    background-color: rgb(219, 217, 217);
    border-radius: 15px;
}

.bar{
    background-color: var(--theme);
    height: 20px;
    width: 80px;
    border-radius: 15px;
}
.skillBars{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.skills__text{
    color: white;
    padding-left: 10px;
    font-size: 0.75rem;
}

.bars{
    display: flex;
    padding: 10px;
}

.work{
    padding: 30px;
}

.work__title{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 30px;
}

.sub__title{
    font-size: 1.5rem;
    font-weight: 600px;
    text-align: center;
    padding-top: 30px;
    padding: 20px;
}

.card,
.card__pub{
    width: 300px;
    min-height: 200px;
    background-color: rgba(58, 57, 57, 0.13);
    border-radius: 10px;
    margin: 20px;   
    box-shadow: 0 5px 10px 0.1px rgba(0, 0, 0, 0.4);
    position: relative;
}


.card__img{
    width: 300px;
    height: 160px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    z-index: -10;
}

.card:hover{
    cursor: pointer;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.card__name__pub{
    background-color: white;
    border-radius: 0 3px 3px 0;
    margin-top: 15px;
    padding: 2px 5px 2px;
    font-size: 0.8rem;
    max-width: 230px;
}

.card__name{
    position: absolute;
    /* z-index: -1; */
    background-color: white;
    border-radius: 0 3px 3px 0;
    margin-top: 15px;
    padding: 2px 5px 2px;
    font-size: 0.8rem;
    max-width: 230px;
}

.details{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-bottom: 5px;
    background-color: rgba(192, 188, 188, 0.712);
    border-radius:  0 0 10px 10px; */
}

.duration{
    font-size: 0.7rem;
    font-style: italic;
    color: var(--text-color-2);

}

.location{
    max-width: 260px;
    font-size: 0.9rem;
}

.ints{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}


.modal,
.project__modal{
    /* display: none; */
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;  
    background-color: rgba(0,0,0,0.4);
    
}

.modal__content {
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    background-color: #fefefe;
    margin: auto;

    padding: 15px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
    position: relative;
    z-index: 10000;
    max-height: 90%;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 0.8rem;
  }

.modal__title{
    
    font-size: 1.3rem;
    font-weight: 600px;
    text-align: center;
    padding-right: 10px;
}

hr{
    opacity: 0.5;
    margin: 10px;
}

.outcome{
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
}

.modal__close,
.project__modal__close{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 1.1rem;

}

.project__skill{
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 3px 8px 3px;

}
.projects__skills{
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 3px 8px 3px;
    margin: 5px;

}
.proj__skills{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.modal__close:hover,
.project__modal__close:hover{
    cursor: pointer;
}


.block{
    /* display: block; */
    opacity: 1;
    visibility: visible;
}

.projects{
    padding: 30px;
}

.project__title{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 30px;

}

.project__cards{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.project__card{
    width: 300px;
    height: 150px;
    border-radius: 10px;
    border: 1px grey solid;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 10px 3px rgba(0, 0, 0, 0.4);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
    
    
}

.header{
    visibility: hidden;
}

.project__name{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 30px;
    text-align: center;
    color: var(--text-color-inverse);
}

.project__card:hover{
    cursor: pointer;
}

.education{
    align-items: center;
    text-align: center;
    justify-content: center;
}

.education__title{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 30px;
}
.education__img{
    width: 70%;
    height: auto;
    margin-bottom: 20px;
}

.degree,
.highSchool,
.school{
    width: 90%;
    max-width: 500px;
    border-radius: 10px;
    border: 1px solid grey;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.4);
    margin: 15px;
    padding: 10px;
}


.course{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.spec{
    
    font-size: 1.2rem;
    font-weight: 600;

}

.score p{
    font-size: 1.3rem;
    font-weight: 900px;
}


.edu__cards{
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.achi__title{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    padding-top: 80px;
    margin-bottom: 45px;
}
.certi__title{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    padding-top: 80px;
    margin-bottom: 45px;
}

.achievement{
    padding-left: 80px;
}

.github{
    margin-top: 30px;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
}


.icon__github{
    font-size: 2rem;
    padding: 1px 20px 1px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    /* margin-left: 80%; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.icon__github:hover{
cursor: pointer;
background-color: rgba(0, 0, 0, 0.4);
}

.github__text{
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

.certi__cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.just{
    min-height: 300px;
    margin: 10px;
    width: 50%;
}

.certi__cards{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    margin: 30px;

}
.certi__card:hover{
    color: var(--text-color-inverse);
}

.spec_:hover{
    
    color: var(--text-color-inverse);
}
.certi__card{
    
    text-decoration: none;
    width: 80%;
    border-radius: 10px;
    height: 150px;
    /* background-color: rgb(18, 13, 37); */
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    text-align: center;
    margin: 10px;
    box-shadow: 0 0 10px 1px grey;
    align-items: center;
    justify-content: center;
    color: var(--text-color-inverse);
    padding: 10px;
    display: flex;
    font-size: 1.25rem;
    font-weight: 500;
    max-width: 300px
}

.specs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.spec_{
    width: 80%;
    max-width: 400px;
    height: 200px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px 1px grey;
    justify-content: center;
    align-items: center;
    display: flex;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: var(--text-color-inverse);
    margin: 10px;
    font-size: 1.5rem;
    padding: 20px;
}
.achs__set{
    display: flex;
    align-items: center;
}

.ach__img{
    width: 90%;
    padding-bottom: 30px;
}

.achievement{
    padding-left: 30px;
}

.re__papers{
    /* display: flex; */
    align-items: center;
    padding: 30px;

}


.paper{
    border: 1px solid grey;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-size: 1.1rem;
    margin: 20px;
    padding: 10px;
    width: 100%;
}

.card__pub{

    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.details__pub{
    color: var(--text-color-inverse);
    /* margin-top: 8%; */
    width: 100%;
    min-height: 200px;
    padding: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.pub__name{
    font-size: 1.1rem;
}

.achs__set{
    display: flex;
    align-items: center;
    justify-content: center;
}

.more{
    position: absolute;
    color: var(--text-color-inverse);
    bottom: 10px;
    right: 10px;
    opacity: 0.3;
    font-size: 0.8rem;
    /* background-color: rgba(255, 255, 255, 0.8);
    padding: 3px;
    border-radius: 5px; */
}
.view__more{
    position: absolute;
    color: var(--text-color);
    /* bottom: 10px; */
    top: 135px;
    right: 10px;
    /* opacity: 0.3; */
    font-size: 0.8rem;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2px 5px 2px;
    font-size: 0.6rem;
    border-radius: 5px;
}

.view__more:hover{
    opacity: 1;
    background-color: var(--text-color-inverse);
}
.more:hover{
    background-color: var(--text-color-inverse);
    padding: 3px 5px 3px;
    border-radius: 5px;
    opacity: 1;
    color: var(--text-color);
}

.adj__sec{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    flex-wrap: wrap;
    /* margin: 20px; */
    margin-bottom: 40px;

}

.edu__head{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    flex-wrap: wrap;
}

.adj__text{
    font-size: 1.2rem;
    color: var(--text-color-2);
    padding: 30px;
    max-width: 600px;
    text-align: center;
}

.adj__img{
    width: 80%;
    max-width: 400px;
}

.pub__more{
    position: absolute;
    color: var(--text-color-inverse);
    bottom: 10px;
    right: 10px;
    font-size: 0.7rem;
}

.top:hover{
    background-color: var(--text-color-hover);
}
.top{
    position: fixed;
    bottom: 60px;
    right:5px;
    background-color: var(--theme);
    border-radius: 5px;
    padding: 5px;
    width: 2rem;
    height: 2rem;
    /* color: var(--text-color-inverse); */
    display: flex;
    align-items: center;
    justify-content: center;

}

.top__icon{
    font-size: 2rem;
    color: var(--text-color-inverse);
    z-index: 10000;
}

.header{
    height: 0;
}

.others{
    margin: 10px 30px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.c__icon{
    
    margin: 10px;
    border: 1px solid grey;
    border-radius: 50%;
    padding: 10px 15px 10px;
    font-size: 1.7rem;
  }

  .c__icon:hover{
      cursor: pointer;
      background-color: var(--text-color-2);
  }

.call{
    width: 220px;
    padding: 10px;
    margin: 10px;
    background-color: var(--theme);
    border-radius: 10px;
    font-size: 1.1rem;
    color: var(--text-color-inverse);
    font-weight: 500;
    font-style:normal;
}
.cc{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.call:hover{
    cursor: pointer;
    background-color: var(--text-color-hover);
}

.dec__sections,
.proj__sections{
    margin: 15px;
}

.contact__text{
    padding: 10px 150px 20px;
    text-align: center;
}

@media (min-width: 750px) { 

    .menu{
        font-size: 1rem;
    }
    

   
    .modal__content {
        font-size: 1rem;
        padding: 40px;
    }

    .modal__title{
        font-size: 1.5rem;
    }
    .outcome{
        font-size: 1.3rem;
    }
    .just{
        min-height: 100px;
        margin: 10px;
        width: 50%;
    }
    .call{
        width: 300px;
        padding: 15px 20px 15px;
        margin: 10px;
        background-color: var(--theme);
        border-radius: 10px;
        font-size: 1.5rem;
        color: var(--text-color-inverse);
        font-weight: 500;
        font-style:normal;
    }

    
    .c__icon{
    
        margin: 15px;
        border: 2px solid grey;
        border-radius: 50%;
        padding: 15px 25px 15px;
        font-size: 2rem;
      }

    .top{
        width: 2.5rem;
        height: 2.5rem;
        bottom: 65px;
        right: 10px;
    }

    .open__menu{
        font-size: 28px;
    }

    .name{
        font-size: 20px;
    }

    *::-webkit-scrollbar {
        width: 10px;               /* width of the entire scrollbar */
      }

    .adj__img{
        width: 40%;
        max-width: 400px;
    }
    .adj__text{
        font-size: 1.3rem;
        font-weight: 600;
        opacity: 0.8;
        width: 50%;
    }
    .certi__img{
        width: 25%;
        /* max-width: 300px; */
    }
    .spec_{
        width: 400px;
    }
    .ach__img{
        width: 60%;
        padding-bottom: 30px;
        
    }

    .achs{
        padding-left: 50px;
    }

    /* .achs__set{
        display: flex;
        align-items: center;
        justify-content: center;
    } */
    
    .certi__card{
        max-width: 300px
    }

    .header{
        visibility: hidden;
    }

    .launch{
        position: relative;
        justify-content: flex-start;
    }

    .blob{
        position: absolute;
        right: 2rem;
        top: 2rem;
        width: 350px;
    }

    .title{
        width: 50%;
        margin-left: 2rem;
    }

    .DSAI__img{
        width: 40%;
    }

    .about__desc{
        width: 40%;
    }

    .d{
        display: flex;
        flex-wrap: wrap;
    }
    
    /* .fullBar{
        width: 300pxs;
    } */
    .education__img{
        width: 400px;
        height: auto;
        margin-bottom: 20px;
        margin: 1rem;
    }

    .all__edu{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .edu__cards{
        display: flex;
        flex-direction: row;
    }

    .edu_sec{
        min-height: 210px;
    }

    
}

@media (min-width: 1200px) { 

    .icon__github{
        margin-left: 80%;
        

    }
    .proj__sections{
        margin: 15px;
        width: 33%;
    }
    .dec__sections{
        margin: 5px;
        width: 50%;
    }
    
    .top{
        width: 2.8rem;
        height: 2.8rem;
        bottom: 15px;
        right: 15px;
    }

    .certi__img{
        max-width: 600px;
    }

    .launch{
        margin-top: 7rem;
    }

    .title__name{
        font-size: 3rem;
    }

    .description{
        font-size: 1.5rem;
        font-weight: 600;
        /* width: 70%; */
        opacity: 0.8;
    }
    .resume__text{
        font-size: 1.15rem;
    }
    .resume{
        align-items: center;
        justify-content: center;
    }
    .social__icon{
        font-size: 2.2rem;
    }

    .title__name{
        padding-bottom: 2rem;
        font-size: 4rem;
        margin: 0;
        /* padding: 0; */
        padding-top: 0;
    }
    
    .blob{
        position: absolute;
        right: 10rem;
        top: 2rem;
        max-width: 350px;
    }
    
    .title{
        width: 70%;
        padding-left: 3rem;

    }

    .resume{
        margin-top: 3rem;
        margin-bottom: 5rem;

    }

    .description{
        width: 80%;
    }

    .about__desc{
        width: 40%;
        font-size: 1.3rem;
    }
    .project__title{
        font-size: 3rem;
    }
    .about__title{
        font-size: 3rem;
        margin-bottom: 3rem;
    }

    .what__i__do__title{
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .skills__title{
        font-size: 3rem;
    }

    .fullBar{
        /* width: 480px; */
        height: 25px;
    }

    

    .bar{
        height: 25px;
    }

    .skills__text{
        font-size: 1rem;
    }
    
    .work__title{
        font-size: 3rem;
    }

    .sub__title{
        font-size: 2.2rem;
        padding-top: 70px;
    }

    .card__pub{
        width: 450px;
    }
    .card,
    .card__img{
        width: 350px;
    }

    .card__name{
    max-width: 350px;
}
    .card__name__pub{
        max-width: 350px;
    }

    .project__card{
        width: 350px;
    }
    .modal__set{
        display: flex;
        flex-direction: row;
        /* align-items: center; */
        /* text-align: center; */
        justify-content: space-around;
    
    }

    .dec__sections{
        margin: 20px;
    }
    hr{
        visibility: hidden;
    }
    
    .header{
        position: fixed;
        padding-right: 50px;
        top: 0;
        padding-top: 20px;
        height: 70px;
        background-color: var(--text-color-inverse);
        margin: 0;
        z-index: 100;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        visibility: visible;
        
    }

    .main__option a{
    
        text-decoration: none;
        color: var(--text-color);
    }
    
 
    .main__option{
        padding: 10px 17px 10px;
        font-size: 1.1vw;
        font-weight: 400;
    }

    .main__option:hover{
        color: var(--theme);
        cursor: pointer;
        /* background-color: hsla(var(--hue), 70%, 51%, 0.816); */
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        
    }
    
    .vol__modal{
        width: 50%;
    }

    .nav{
        visibility: hidden;
    }

    .education__img{
        width: 500px;
        height: auto;
        margin-bottom: 20px;
        margin: 3rem;
    }

    .all__edu{
        display: flex;
        flex-wrap: wrap;
    }

    .main__name{
        position: absolute;
        left: 30px;
        top: 25px;
        font-size: 2vw;
        font-weight: 800;
    }

    .achievements{
        position: relative;
        padding-left: 70px;
    }

    .achievement{
        font-size: 1.1rem;
        font-weight: 600;
        opacity: 0.7;
    }

    .ach__img{
        position: absolute;
        top: 150px;
        width: 40%;
        margin-left: 50%;
    }
    

    .achi__title{
        font-size: 3rem;
    }
    .certi__title{
        font-size: 3rem;
        padding-top: 80px;
    }
   
    .skillBars{
        width: 85%;
    }
    
    .s__bars{
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .details__pub{
        padding: 40px;
        min-height: 150px;
    }
    
    .outcome{
        width: 53%;
    }
    /* .main{
        height: 90%;
    } */
    .education__title{
        padding-top: 80px;
        font-size: 3rem;
    }
  }